<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--https://www.mkyong.com/spring-boot/spring-boot-test-how-to-stop-debug-logs/-->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.vdda" level="DEBUG"/>
    <logger name="org.meanbean" level="OFF"/>
</configuration>